.postion-static{
	position: static;
}
.postion-relative1{
	position: relative;
	top:24px;
	left: 45px;
}

.postition_middle{
	position: absolute;
	top: 234px;
	left: 123px;
}

.position_middleLef{
	position:relative;
	top: 234px;
	left: 15px;
}

.position_middleleftTop{
	position: absolute;
	top: 9px;
	left: 15px;
}

.postion_right{
	position: absolute;
	left: 356px;
	top: 9px;
}
.relative_lol1{
	position:relative;
	background-color: red;
	width:794px;
	height:122px;
}
.relative_lol2{
	position: relative;
	background-color: blue;
	width: 794px;
	height: 391px;
}
.relative_lol3{
	position: relative;
	background-color: green;
	width: 794px;
	height: 92px;
}